*{box-sizing: border-box;
}

body{
  color: aliceblue;
    
    
}
#box {
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around; 
        padding-top: 2em;
}
 :target {
  background: teal;
  color: #fff;
  text-transform: uppercase;
  transition: background .5s;
}
  /* First Frame */
body li {
  
  display: inline;
  padding: 1em;
  list-style: none;
}

body a:link,
body a:visited{
  background: teal;
  padding: 1em;
  color: white;
  text-decoration: none;
  transition: 
    background .5s 1s,
    padding .25s;
}
/* Last Frame */
body a:hover {
  background: red;
  padding-top: .5em;
}

 #links {

        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around; 
        padding-top: 2em;
    }

img{
    width: 50%;
}

/* Mobile: 320px = 20em */
@media screen and (min-width: 0em) { 

 body {
       background: url("../img/hixs_pattern_evolution.png");
  }
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

 body {
       background: url("../img/hixs_pattern_evolution.png");
  }
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
 
    :target {
  background: teal;
  color: #fff;
  text-transform: uppercase;
  transition: background .5s;
}
  /* First Frame */
body li {
  
  display: inline;
  padding: 1em;
  list-style: none;
}

body a:link,
body a:visited{
  background: teal;
  padding: 1em;
  color: white;
  text-decoration: none;
  transition: 
    background .5s 1s,
    padding .25s;
}
/* Last Frame */
body a:hover {
  background: red;
  padding-top: .5em;
}
    form {
    padding-top: 2em;
  background: teal;
  padding: 10px;
}

label, 
input,
textarea {
    
  display: block;
  margin: 10px;
    transition: all .25s;
}

/* Score: 0,0,1,1 */
input[type=submit] {
  background: black;
  border: none;
  border-radius: 4px;
  color: aliceblue;
  padding: 10px;
}

input:focus, 
textarea:focus {
  background:aliceblue;
  padding: 20px;
  outline: none;
}

}